@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400&display=swap');

.LabelArea {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 15% 0 15%;
    /* padding-right: 10%; */
}

.LabelEndColumn {
    flex: 1 0 auto;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2em;
}

.LabelMidColumn {
    content: "";
    width: 12%;
    /* background-color: red; */
}

.DisplayArea {
    /* background-color: aliceblue; */
    margin: 10px 0% 10px 0%;
    display: flex;
    justify-content: space-between;
}

.DisplayLeftColumn {
    flex: 1 0 auto;
    /* background-color: red; */
}

.DisplayMidColumn {
    flex: none;
    width: 10%;
    /* background-color: green; */
}

.DisplayRightColumn {
    flex: 1 0 auto;
    /* background-color: blue; */
}

.SubmitButton {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}