.DisplayArea {
    /* background-color: aliceblue; */
    margin: 10px 0% 10px 0%;
    display: flex;
    justify-content: space-between;
}

.DisplayLeftColumn {
    flex: 1 0 auto;
    /* background-color: red; */
}

.DisplayMidColumn {
    flex: none;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.DisplayRightColumn {
    flex: 1 0 auto;
    /* background-color: blue; */
}

.Center {
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.LeftEntryArea {
    margin-top: 8%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.RightEntryArea {
    margin-top: 8%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.PreferenceArea {
    display: flex;
    flex-direction: row;
    /* background-color: cyan; */
}

.LeftPerson {
    /* background-color: yellow; */
    padding-top: 8%;
    padding-right: 25%;
}

.LeftPreference {
    /* background-color: black; */
    margin-left: 5px;
}

.RightPerson {
    /* background-color: yellow; */
    padding-top: 8%;
    padding-left: 25%;
}

.RightPreference {
    /* background-color: black; */
    margin-left: 5px;
}

.PersonInput {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #C1C1C1;
    width: 50px;
    /* height: 20px; */
}

.PreferenceInput {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    width: 50px;
}

